$slider-width: 80px;

.slider { 
  padding-right: $slider-width + 2px;
  padding-left: 2px;
  height: 16px;
  background: $white;
  @include border-radius(2px);
  border: #ccc solid 1px;
  
  .ui-slider {
    position: relative; 
    text-align: left; 
    height: 16px;
    padding: 0px 15px;

    .ui-slider-handle { 
      @include border-radius(2px);
      border: 0;
      
      position: absolute; 
      z-index: 2; 
      width: $slider-width;
      // margin-left: -10px;
      height: 16px;
      cursor: pointer;
//      background: black;

      background: #000000 image-url('slidergrip.png') no-repeat center center;
    }

    .ui-slider-range { position: absolute; z-index: 1; font-size: .7em; display: block; border: 0; background-position: 0 0; }
  }
}
