<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
<p>Hello and welcome!</p>
<p>Click the link to get started with GGTracker:<br>
<a href="http://ggtracker.com/settings">http://ggtracker.com/settings</a></p>
<p>We've got all kinds of charts and stats to help you <b>get better faster</b>.</p><br>
<p>Need help?  Have an idea to share?  Reply to this email any time.</p>
<p>GL and HF!<br>
--David</p>
  </body>
</html>
