
 <div class="djcloak ggadzone">
   <div class="leaderad">

  <% if false %>

<script type="text/javascript"><!--
google_ad_client = "ca-pub-8749237688340565";
/* Top bar experiment */
google_ad_slot = "7062908333";
google_ad_width = 728;
google_ad_height = 90;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>

  <% end %>

<!--
  <% else %>
    <img src="/assets/gad_leaderboard.png"/>
-->

    </div>
  </div>
