
  <div class="sidebarad">

  <% if false %>
<script type="text/javascript"><!--
google_ad_client = "ca-pub-8749237688340565";
/* wide sky */
google_ad_slot = "1280399930";
google_ad_width = 160;
google_ad_height = 600;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
  <% end %>

<!--  <% else %>
    <img src="/assets/gad_wide_sky.png"/>  -->

  </div>

