<p>GGTracker Pro gets you:
<br><br>
<ul class="instructions">
<li>replay auto-uploader program<a href class="ggtipper2 tiny" style="vertical-align:super" title="Windows and Mac!">*</a></li>
<li>sc2gears auto-upload<a href="https://twitter.com/Dougcope" class="ggtipper2 tiny" style="vertical-align:super" title="thanks to Doug Copestake">*</a></li>
<li>multiple battle.net accounts</li>
<li>unlimited web replay uploads</li>
<li>a <span class="tooltipped icon icon-star-32"></span> on your GGTracker profile</li>
<li>your clan logo or graphic on your GGTracker profile if you want</li>
<li>the satisfaction of knowing you're making eSports more awesome</li>
<br>
<li>private replays? <span class="tiny">if you would like this, let me know and I will add the capability to the site.</span></li>
</ul>
</p>
<br><br>
<p>
It's $5/month, <a class="action button" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=Q4LPUP7WZQ3ZE&<% if current_user.present? %>custom=<%= current_user.id %><% end %>">sign up for GGTRACKER PRO</a></li>
</p>
<br><br><br><br><br><br><br>
<p class="small">Players who are currently Grandmaster are entitled to GGTracker Pro for free.  Just email dsjoerg at ggtracker dot com or <a href="http://twitter.com/ggtracker">tweet</a>.</p><br>
<p class="small">We also offer an <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=3QMACJDPHS4EL&custom=<% if current_user.present? %>custom=<%= current_user.id %><% end %>">Annual Subscription</a> for $40/year.</p><br>
<p class="small">If GGTracker Pro isn't for you, you can still help by telling three friends. &nbsp;&nbsp; (Hat tip <a href="http://www.twitch.tv/tumescentpie">TumescentPie</a>)</p>
