
<b>We're Hiring a Full-Stack Developer</b>
<br><br>
Every day, thousands of StarCraft players use GGTracker to analyze their games and get better faster.  We worked with Blizzard to <a href="http://us.battle.net/sc2/en/blog/9669862/">extend the replay file format</a> and <a href="http://us.battle.net/sc2/en/blog/10811186/wcs-now-supports-ggtracker-analytics-8-30-2013">enhance their tournament videos</a>.
<br><br>
Now we're building a next-generation automated coaching system, starting with StarCraft.
<br><br>
<p style="text-align: center">
<a id="go_pro" class="action button" href="mailto:dsjoerg@ggtracker.com">APPLY VIA EMAIL</a>
</p>
<br><br>

<b>Requirements</b>
<br>
<ul class="instructions">
<li>You've built a nontrivial website from top to bottom</li>
<li>You're productive, organized and like to learn</li>
<li>Architectural decisions are fun and interesting to you</li>
<li>Javascript && [Ruby || Python]</li>
<li>Full-time on location in New York City</li>
<li>Math and data skills are nice to have, but definitely <b>not</b> required.</li>
</ul>
<br>

<b>What We Offer</b>
<br>
<ul class="instructions">
<li>Competitive salary, equity and benefits</li>
<li>The satisfaction of making thousands of <a href="https://twitter.com/ROOTnathanias/status/373210589834661890">StarCraft</a> <a href="https://twitter.com/KansasFF/status/369460930108592128">players</a> <a href="https://twitter.com/zeejayym/status/369220960802459648">happy</a></li>
<li>You'll work closely with <a href="#dsjoerg">David Joerg</a></li>
<li>You'll build something truly groundbreaking you can be proud of.</li>
</ul>
<br>

<b>Automated coaching? You can't be serious.</b>
<br>
It's for real serious!

We are going to build the world's first automated sports coaching system.  The same principles that are used in automated finance, voice recognition and self-driving cars can be used to analyze a player's strengths and weaknesses.  We are already working with several well-known StarCraft coaches to design scripted coaching systems.
<br><br>


<b>What Else Will We Do?</b>
<br>
Build awesome new features, and improve upon what's already there:
<ul class="instructions">
<li>Advanced search and analytic reports for our GGTracker Pro subscribers</li>
<li>Custom projects for our partner Leagues, Casters and Pros</li>
<li>Finding games with specific build orders or build order counters</li>
<li>Following your friends. Clan support. Replay pack support.</li>
<li>Analyzing the shifts in game balance, unit usage and the metagame</li>
<li>You probably have some great ideas for GGTracker, we'll do those too!</li>
</ul>
<br>
<br><br>
<p style="text-align:center">
<a id="go_pro" class="action button" href="mailto:dsjoerg@ggtracker.com">OK, this is interesting, let's email</a>
</p>
<br>
<br>
<p>If you don't fit the bill for this job, <b>you can still be a hero</b>. Do you know someone who is perfect for this job? <a href="hiring_heroes">Please tell them!</a>  Tweet this thing out! Save eSports!</p>
<br><br>
<b>Other Questions</b>
<br><br>
<b>What is the site built in?</b>
<br>
<p>Currently it's python (for <a href="https://github.com/graylinkim/sc2reader">sc2reader</a>), Ruby/Sequel/Grape for the API server, Ruby/Rails for the web server, and AngularJS/Highcharts in the browser.  MySQL and S3 for backend storage, hosted at EngineYard.

<br><br>
<p id="dsjoerg">
<b>Who is this David Joerg guy.</b>
<br>
I'm GGTracker's founder, David Joerg (<a href="http://linkd.in/dsjoerg">linkedin</a>).  I got my Computer Science degree from Harvard.  Ten years ago I joined a small team to build what is now a <a href="http://twosigma.com">top automated trading firm</a>.  Before that, I co-founded an award-winning venture-backed mobile city guide company. The Kansas City Barbeque Society certified me as a judge in 2007. I used to play keyboards for Levi K and the Robotics.  My wife and two kids and I live in <a href="http://www.youtube.com/watch?v=aOxoCi4wCmI">Brooklyn</a>.
</p>

<br><br>
<p>
<b>I heard you're having a recruiting contest.</b>
<br>
It's true!  If you love GGTracker, you can be a GGTracker Hiring Hero and earn our undying gratitude, plus a free year of GGTracker Pro.  <a href="hiring_heroes">Check it out</a>.
</p>


<br><br><br><br><br><br><br>
<p class="small">In your email please include your resume, links to a website or two that you've built, and a link to your github.</p>
<p class="small">Candidates who put CHEAT TO WIN in their email subject line get extra points for being the kind of people who read fine print.</p>
<p class="small">Trend buzzwords: Quantified self meets competitive gaming. Big Data. Adaptive Learning. Deliberate Practice. Neuroplasticity.</p><br>
<br>
