<% content_for(:head) do %>
  <title>SEEDArium</title>
  <meta name="Description" content="Watch SEEDArium's StarCraft replays and learn how he does it.">
<% end %>

<div id="static">
  <div class="content spending_skill">
    <p>GGTracker is proud to showcase <a href="https://twitter.com/SEEDArium">SEEDArium</a>'s <a href="players/722580">Grandmaster ladder matches</a> for you to study and learn from.</p>
    <p><a href="players/722580">Check them out!</a></p>
    <br><br>
    <p>And here's one of his recent VODs.</p>
    <object bgcolor='#000000' data='http://www.twitch.tv/widgets/archive_embed_player.swf' height='378' id='clip_embed_player_flash' type='application/x-shockwave-flash' width='620'><param name='movie' value='http://www.twitch.tv/widgets/archive_embed_player.swf'><param name='allowScriptAccess' value='always'><param name='allowNetworking' value='all'><param name='allowFullScreen' value='true'><param name='flashvars' value='start_volume=25&amp;auto_play=false&amp;channel=ariumtv&amp;title=Root%2BAcademy%2527s%2BSEED.Arium%2Bladdering%2Bgrandmasters%2Bprotoss%2Bplay%2521&amp;archive_id=468575510'></object><br><a href="http://www.twitch.tv/ariumtv" class="trk" style="padding:2px 0px 4px; display:block; width: 320px; font-weight:normal; font-size:10px; text-decoration:underline; text-align:center;">Watch live video from AriumTV on TwitchTV</a>
    <p></p>
  </div>
</div>
