<% content_for(:head) do %>
  <title>GGTracker Auto Uploader</title>
  <meta name="Description" content="GGTracker's Auto Uploader uploads Starcraft II replays after every game you play.">
<% end %>

<div id="static">
  <div class="content">
    <div class="static_inner">
      <p>So you just finished a game of Starcraft.  And you won!  Or you lost.  Whatever.</p>
      <p>Either way, you want to go to GGTracker immediately and review the game.  So, you go to ggtracker.com, hit UPLOAD, wait a bit and there it is.</p>
      <p>That's good, but this is better: with the Auto-uploader, available to our <a href="/go_pro">GGTracker Pro</a> subscribers, each game you play is <b>immediately</b> and <b>automatically</b> uploaded to GGTracker.</p>
      <p>Usually, your game is up on GGTracker faster than you can switch from Starcraft 2 to your browser.</p>
      <br>
      <p>If you are a GGTracker Pro subscriber, you can get your auto-uploader and instructions from the <a href="/settings">Settings Page</a>.</p>
    </div>
  </div>
</div>
