<% content_for(:head) do %>
  <title>GGTracker Pro Cancelled</title>
  <meta name="Description" content="Cancelled GGTracker Pro">
<% end %>

<div id="static">
  <div id="go_pro">
  <div class="content spending_skill">
    <div class="static_inner">
      <h1>GGTracker Pro Cancelled</h1>
      <p>OK, it's cancelled.  We will not charge you again.</p>
      <br><br>
      <p>Your Pro features will continue for 30 days after your last payment.</p>
      <br>
      <p>Thanks for subscribing to GGTracker Pro.</p>
      <br><br><br><br><br><br><br>
    </div>
  </div>
  </div>
</div>
