<% content_for(:head) do %>
  <title>Cancelling GGTracker Pro</title>
  <meta name="Description" content="Cancelling GGTracker Pro">
<% end %>

<div id="static">
  <div id="go_pro">
  <div class="content spending_skill">
    <div class="static_inner">
      <h1>Cancelling GGTracker Pro</h1>
      <p>If you're sure you want to cancel, click the button.</p>
      <a class="action button" href="really_cancel_pro">Cancel GGTracker Pro</a>
      <br><br><br><br><br><br><br>
    </div>
  </div>
  </div>
</div>
