<% content_for(:head) do %>
  <title>Changelog</title>
  <meta name="Description" content="GGTracker changelog.">
<% end %>

<div id="static">
  <div class="content">
    <div class="static_inner">

      <p>
      <b>August</b>
      <ul>
        <li>Creep Spread tracking, thanks to <a href="https://github.com/jonomon">Jonathan Chung</a></li>
      </ul>
      </p>

      <p>
      <b>June, July</b>
      <ul>
        <li>Vacation</li>
        <li><a href="http://wcs.battle.net/sc2/en/articles/wcs-now-supports-ggtracker-analytics-2">WCS VOD enhancement</a></li>
      </ul>
      </p>

      <p>
      <b>May</b>
      <ul>
        <li>SC2Gears auto-upload plugin for Pro subscribers, thanks to <a href="https://twitter.com/Dougcope">Doug Copestake</a></li>
        <li>Added Engagements and Resources Lost.</li>
        <li>Unit locations and death locations.</li>
        <li>New charts: Resources Lost, Minerals/Vespene in Bank, Minerals/Vespsene Collection Rate.</li>
        <li>No delay for Spending Skill and other stats</li>
      </ul>
      </p>
      <p>
      <b>April</b>
      <ul>
        <li>Secretly worked on <a href="http://us.battle.net/sc2/en/blog/9669862/StarCraft_II_Patch_208_Replay_File_Enhancements-5_7_2013">2.0.8 features</a>, which were released in May.</li>
        <li>Macro charts for Terran and Protoss.</li>
        <li>Bases chart added to match page.</li>
      </ul>
      </p>
      <p>
      <b>March</b>
      <ul>
        <li>HotS launch support.</li>
        <li>Site littered with ads.</li>
      </ul>
      </p>
      <b>February</b>
      <ul>
        <li><a href="/api">API</a> documented.</li>
        <li>HotS beta support.</li>
        <li><a href="/matches/search">Advanced Match Search</a>.</li>
      </ul>
      </p>
      <p>
      <b>January</b>
      <ul>
        <li>Track army locations on any match page.</li>
        <li>Private match notes.</li>
        <li>Ability to delete matches.</li>
        <li>Stats posted about <a href="/winrate_by_matchup">winrates per matchup and league</a>.</li>
      </ul>
      </p>
      <p>
        <b>December</b>
        <ul>
          <li>Track camera locations on any match page.</li>
          <li>Race Macro for Zerg (inject efficiency), both as a number and as a chart on the match page.</li>
          <li>Stats posted about <a href="/spending_skill_stats">Spending Skill and Spending Quotient</a>.</li>
          <li><a href="/go_pro">GGTracker Pro</a></li>
          </ul>
        </p>
<p>
  <b>November</b>
  <ul>
     <li>Completely redesigned website.</li>
     <li>Spending Skill.</li>
     <li>User accounts.</li>
     <li>Auto-uploader.</li>
  </ul>
</p>
<p>
  <b>August</b><ul><li>GGTracker provides detailed stats for the casters at MLG Summer Arena.</li></ul>
  </p>
<p><b>March</b><ul><li>GGTracker begins. Anonymous upload only.</li></ul></p>
    </div>
  </div>
</div>
