<% content_for(:head) do %>
  <title>GGTracker Credits</title>
  <meta name="Description" content="GGTracker was made by people in New York, Berlin and Barcelona.">
<% end %>

<div id="static">
  <div class="content">
    <div class="static_inner">
      <p>Development:<br><a href="mailto:dsjoerg@ggtracker.com">David Joerg</a> (@dsjoerg)<br><a href="mailto: mr at impaled dot org">Marian Rudzynski</a> (@effekt, Master of the Universe)</p>
      <p>Design: <a href="http://www.bernatfortet.com/">Bernat Fortet</a></p>
      <p>sc2reader library: <a href="https://github.com/GraylinKim/sc2reader/">Graylin Kim</a></p>
      <p>Auto-uploader: <a href="https://sites.google.com/site/sc2gears/">András Belicza</a></p>
      <p>Map images: Alex Kam</p>
      <p>Replay sharing, lots of source code and the phrase "Go Pro": Alex Hanhikoski and <a href="http://drop.sc">drop.sc</a></p>
      <p>Some icons: <a href="http://iconmonstr.com/">iconmonstr</a></p>
      <p>A great many Starcraft-related images: Blizzard Entertainment</p>
      <br><br>
      <p>If you live near New York City and you love to code, maybe you should work for GGTracker?  <a href="mailto:dsjoerg@ggtracker.com">Drop me a line</a>.</p>
    </div>
  </div>
</div>
