<% content_for(:head) do %>
  <title>Developers</title>
  <meta name="Description" content="hack on GGTracker for fun and glory">
<% end %>

<div id="static">
  <div class="content spending_skill">
    <div class="static_inner">

      <p>Hello fellow developer!</p>

      <p><a href="https://github.com/ggtracker/ggtrackerstack/">Source code is available</a>.  Contributions welcome.</p>

      <p>Also there is an <a href="/api">API</a>.</p>

      <p>Have a question?  Email me at <a href="mailto:dsjoerg@ggtracker.com">dsjoerg@ggtracker.com</a> or tweet <a href="https://twitter.com/ggtracker">@ggtracker</a>.</p>
    </div>
  </div>
</div>
