<% content_for(:head) do %>
  <title>FAQ in Deutsch!</title>
  <meta name="Description" content="Frequently asked questions about GGTracker.">
<% end %>

<div id="static">
  <div class="content spending_skill">
    <div class="static_inner">
<h1>FAQ in Deutsch!</h1>

<p><b>Warum sehe ich keinen Spending Skill f&uuml;r meine Matches?</b> </p>
<p>
Gehe zu den <a href="settings">Einstellungen</a>. Nun musst du nur noch deinen Battle.net Account authentifizieren und deinen Charakter Code eintragen.
</p>
<p>
Jedes Mal wenn du ein Replay hochl&auml;dst, nimmt das System deine letzten Matches und aktualisiert deinen Spending Skill und alle anderen Statistiken. Normalerweise ben&ouml;tigt das System daf&uuml;r 45 Sekunden, manchmal auch bis zu 5 Minuten. In seltenen F&auml;llen kann es auch zu einer Wartezeit &uuml;ber 5 Minuten kommen.
</p>
<p><b>Meine letzten Spiele werden nicht angezeigt.</b> </p>
<p>Um deine neusten Spiele zu sehen, lade einfach ein Replay hoch, das du gespielt hast. Oder noch besser, lade alle deine bisherigen Replays hoch. Wenn du ein Replay hochl&auml;dst, k&ouml;nnen wir dir mehr Informationen &uuml;ber das Spiel geben, wie zum Beispiel die Zusammensetzung deiner Armee und den Armee Standort.</p>

 
<p><b>Manchmal ist mein Spending Skill nicht wie mein Spending Quotient (SQ). Wieso?</b></p>

<p>Dein Spending Skill basiert auf dem durchschnittlichen Spending Quotienten f&uuml;r deine Rasse, Region (NA, EU, usw) und der Spielzeit. Wie du bei <a href="http://ggtracker.com/spending_skill_stats">Spending Skill Stats</a> nachlesen kannst, neigen l&auml;ngere Games zu einem niedrigeren SQ.  Zum Beispiel: ein SQ von 76 ist fuer einen EU Protoss, bei 27 Minuten Spielzeit, Grandmaster-Niveau. Bei 7 Minuten Spielzeit hingegen nur noch Platinum-Niveau.</p>

<p><b>Wie teile ich meine Profilseite mit anderen?</b></p>
<p>Sende ihnen einfach den Link! Alle Profilseiten auf GGTracker sind &ouml;ffentlich.</p>

<p><b>Ich spiele in mehreren Regionen. Wie f&uuml;ge ich meine Accounts von den anderen Regionen hinzu?</b></p>
<p>Jede Region (EU, NA, SEA, KR, CN) ist ein anderes Battle.net Profil. GGTracker Pro User k&ouml;nnen mehrere Battle.net Profile in einem GGTracker Profil haben.</p>

<p><b>Wie l&ouml;sche ich ein Match?</b></p>
<p>GGTracker Pro User können Matches mit dem "DELETE" Link auf der Match Page direkt unter dem Map Namen löschen.</p>
      <p style="text-align: center"><%= image_tag "deletebutton.png" %></p>



<p><b>Ist mein Spending Skill richtig? Er ist h&ouml;her als die Liga in der ich mich befinde.</b></p>
<p>Ja, der ist richtig. Spending Skills sind unterschiedlich und dein Spending Skill in einem bestimmten Spiel ist manchmal anders als der, aus der Liga in der du dich befindest. Schau dir <a href="http://www.teamliquid.net/forum/viewmessage.php?topic_id=329510&amp;currentpage=3#55">diese Diskussion</a> auf TeamLiquid f&uuml;r mehr Informationen zu diesem Thema an.</p>

<p><b>Ich habe eine Frage, die hier nicht gelistet ist!</b></p>
<p>Schreibe mir eine Mail an <a href="mailto:dsjoerg@ggtracker.com">dsjoerg@ggtracker.com</a> oder tweet <a href="https://twitter.com/ggtracker">@ggtracker</a>. Ich w&uuml;rde mich freuen, dir zu helfen!</p>

<p><b>Wer befindet sich hinter GGTracker?</b></p>
      <ul>
<li><a href="https://twitter.com/dsjoerg">David Joerg</a> Gr&uuml;nder und Entwickler</li>

<li><a href="https://github.com/GraylinKim/sc2reader/">Graylin Kim</a> Betreuer der sc2reader Bibliothek</li>

<li><a href="http://www.bernatfortet.com/">Bernat Fortet</a> Design</li>

<li><a href="https://twitter.com/effekt">Marian Rudzynski</a> Entwickler</li>

<li><a href="https://sites.google.com/site/sc2gears/">András Belicza</a> hat den Auto-Uploader und das unglaubliche Programm sc2gears erstellt</li>

<li>Alex Kam arbeitet an den Map Bildern</li>

<li><a href="http://iconmonstr.com/">iconmonstr</a> bietet einige Icons an</li>

<li>Blizzard Entertainment bietet Starcraft, alle anderen mit Starcraft verbundenen Bilder und W&ouml;rter die hier zu finden sind.</li>
</ul>

<p>Many thanks to Tom Marienfeld for translating the FAQ into Deutsch, and Alexis Iglauer and Marian Rudzynski for additional help.</p>
    </div>
  </div>
</div>
