<% content_for(:head) do %>
  <title>GGTracker Pro</title>
  <meta name="Description" content="Subscribe to GGTracker Pro to get the most out of our Starcraft II replay analysis tools.">
<% end %>

<div id="go_pro">
  <div class="content">
    <div class="going_pro">
      <%= render 'go_pro' %>
    </div>
  </div>
</div>
