<% content_for(:head) do %>
  <title>Gold Speed Ahead with desRow</title>
  <meta name="Description" content="Gold Speed Ahead!  desRow plays simple Starcraft strategies in the Gold league, under 100 apm.">
<% end %>

<div id="static">
  <div class="content spending_skill">
    <p>desRow shows you simple, solid strategies that win in the Gold league.</p>
    <p>No fancy fingers required!  Strictly 100apm or less.</p>
      <iframe width="853" height="480" src="//www.youtube.com/embed/SxwzrsDVRhI?list=PLRqcyeYtIIRp1LC_qNoF2anQ6szfC70ii" frameborder="0" allowfullscreen></iframe>
    <p></p>
    <p>Any questions? desRow is always around to answer anyone who wants to learn, just ask in the comments <a href="http://www.youtube.com/watch?v=SxwzrsDVRhI&list=PLRqcyeYtIIRp1LC_qNoF2anQ6szfC70ii">here</a>.</p>
    <p>Check out the matches <a href="/GoldSpeedAheadReplays">here</a>.</p>
  </div>
</div>
