<% content_for(:head) do %>
  <title>We're Hiring</title>
  <meta name="Description" content="Work at GGTracker and turn your unhealthy obsession into a respectable career choice.">
<% end %>

<div id="go_pro">
  <div class="content">
    <div class="going_pro" style="line-height:28px">
      <%= render 'hiring' %>
    </div>
  </div>
</div>
