<% content_for(:head) do %>
  <title>GGTracker Privacy Policy</title>
  <meta name="Description" content="GGTracker Privacy Policy">
<% end %>

<div id="static">
  <div class="content">
    <div class="privacy_inner">
<h1>Privacy Policy</h1>
      <p>
Hi!  Here are the details about how ggtracker, Inc. (GGTracker) manages your personal information. By using the GGTracker website (the Site), you consent to the data practices described here.
</p>
<h2>
Information Collected
</h2>
<p>
You provide GGTracker with personally identifiable information, such as your e-mail address, battle.net URL and character codes.  GGTracker’s game information comes from the replays you provide, and directly from the Starcraft 2 game systems.  When you access the Site or open one of our emails, we automatically record certain information from your system by using different types of tracking technology, such as Google Analytics. This information includes which pages you look at, your IP address, browser type, access times, which web site you came from, and what search terms you used.
</p>
<h2>
Use of Information
</h2>
<p>
GGTracker uses the information we collect to keep in touch with you, to operate and improve the service, and to conduct statistical research about Starcraft and GGTracker.  We may send you promotional emails about GGTracker from time to time.  You may opt out of those emails by emailing “UNSUBSCRIBE” to hello@ggtracker.com.
</p>
<p>
GGTracker does not sell, rent or lease its customer lists to anyone without your permission.
</p>
<p>
GGTracker may disclose your personal information, without notice, under special circumstances, such as to comply with court orders requiring us to do so or if the Men in Black arrive.
</p>
<p>
In the event ggtracker, Inc. is acquired by or merged with another company, we will transfer the information we have collected to them.  We will notify you by email in advance and give you at least two weeks to ask us to remove your information from our records before the transfer.
</p>
<h2>Security of your Personal Information</h2>
<p>
We follow generally accepted industry standards to keep your personal information secure.  We do not retain credit card or Paypal account information on our servers.  Regardless of the precautions taken by us, we cannot ensure or warrant the security of any information you transmit to us, and you transmit such information at your own risk.	 
</p>
<p>
GGTracker will occasionally update this Statement of Privacy to reflect company and customer feedback. When we make a significant change to this policy, we will post the changes on the Site two weeks in advance, and notify you by email.  If you like getting notified when web pages changes, you might try the great free service <a href="http://www.watchthatpage.com">WatchThatPage</a>.
</p>
<h2>International Visitors</h2>
<p>
Please note that your data will be transferred to the United States or other countries.  You hereby consent to such transfer.
</p>
<h2>Corrections to Personal Information and Information Removal </h2>
<p>
You may review, revise or request removal of your account information at any time.  Please send an e-mail to hello@ggtracker.com.
</p>
<h2>California Online Privacy Protection Act Compliance</h2>
<p>
California Civil Code Section 1798.83 permits Users who are California residents and who provide personal information in obtaining products or services for personal, family or household use to request and obtain from us once a year, free of charge, information about the personal information (if any) We disclosed to third parties for direct marketing purposes in the preceding calendar year. If applicable, this information would include a list of the categories of personal information that was shared and the names and addresses of those businesses with which customer information was shared in the immediately prior calendar year.  Please send such requests to hello@ggtracker.com or to the mailing address at the end of this page.  Please put “Request for California Privacy Information” in the subject of the email inquiry.  We will provide the requested information to the e-mail address in Your User Profile or otherwise as you may specify.  Please note that only information which is required to be provided under this law will be included in Our response.
</p>
<h2>Use of Cookies</h2>
<p>
The Site uses “cookies" to keep you signed in if you close your browser window and come back to the Site later. A cookie is a small amount of data that is placed on your computer by a Web server.  Cookies are uniquely assigned to you.  Our cookies typically exist perpetually and we provide the ability to remove your session cookie by signing out.  In addition, from time to time our Site, through arrangements with third parties, may place and read cookies on your browser, or using web beacons to collect information as a result of serving ads on the Site or for other reasons.
</p>
<h2>Additional Information of Special Importance to Lawyers</h2>
<p>
This Agreement shall be interpreted and governed by the law of the State of New York without regard to its conflict of laws principles.  User expressly acknowledges and agrees that any claim brought in connection with this Agreement or the subject matter herein shall only be brought in a federal or state court located in the County of New York in the State of New York, and you expressly waive all objections you might have to jurisdiction, venue, service of process, forum non conveniens or the like in connection therewith.
</p>
<p>
Under no circumstances, including but not limited to negligence, shall we or affiliates or business partners be liable for any special, incidental or consequential damages that result from your decision to provide information via our site or sites.  If the foregoing limitations are held inapplicable or unenforceable for any reason, then the maximum liability of us to you for any type of damages shall be limited to the greater of the amount of fees GGTracker collects from your purchases in the six (6) months prior to the action or claim you have asserted as giving rise to liability, or one hundred dollars ($100.00).
</p>
<p>
If any provision of the Terms and Conditions of Use or this Privacy Policy is found to be invalid by a court having competent jurisdiction, the invalidity of such provision shall not affect the validity of the remaining provisions, which shall remain in full force and effect.  Our failure to enforce any term or condition of this Policy shall not be deemed a waiver thereof and shall not prevent its later enforcement. 
</p>

<h2>Contact Information</h2>
<p>
GGTracker welcomes your questions or comments regarding this Statement of Privacy. You may contact us via email at hello@ggtracker.com or our mailing address: GGTracker, Inc., 537 2nd Street, Brooklyn NY 11215.
</p>

<p>
Last modified: January 24, 2013.
</p>
    </div>
  </div>
</div>
