<% content_for(:head) do %>
  <title>Race Macro</title>
  <meta name="Description" content="GGTracker measures your efficiency with Larva Inject, Chrono Boost and Orbital Command.">
<% end %>

<div id="static">
  <div class="content spending_skill">
    <div class="static_inner">
      <h1>Race-Specific Macro</h1>
      <p>Each race has some special things they can do at their base to get an edge.  Queens can inject larvae into their hatches to get more units faster.  Protoss can Chronoboost.  Terran have MULEs.  We call these "Race-Specific Macro".</p>
      <p>For each race, ideally a player never misses out on making full use of the advantage offered by their Race-Specific Macro.  For example, a Hatch takes 40 seconds to Spawn Larva.  So injecting every 40 seconds would be ideal.<a href class="ggtipper2 tiny" style="vertical-align:super" title="Although it would take more than one Queen to do this.">*</a></p>
      <p>Protoss should never let their Nexus's energy get to 100.  If they do, they are effectively letting potential energy go to waste.  Likewise, a Terran should never let their Orbital Command's energy get to 200.</p>
      <p>GGTracker measures how often your play is deviating from these ideals.  A score of 100 means completely ideal, and 0 means you did not take enough Race-Specific Macro actions for us to measure.</p>
      <p><b>NOTE</b> the scores between races are not at all comparable.  A 70 for Zerg is excellent, whereas 70 for Terran is not good.  In the future we may turn these scores into League-equivalents, or some kind of pass/fail indication.</p>
    </div>
  </div>
</div>
