<% content_for(:head) do %>
  <title>Replay Problems</title>
  <meta name="Description" content="Sorry we had problems reading the replays you uploaded.">
<% end %>

<div id="static">
  <div class="content">
    <div class="static_inner">
      <br>
      <p>Sorry, we had trouble reading the replays you uploaded.</p>
      <p>If these were ordinary ladder WoL/HotS Starcraft 2 replay files, please <a href="mailto:dsjoerg@ggtracker.com">let me know</a> and I'll take a closer look.</p>
      <p>LotV is not supported, but it will be in time for the official launch.</p>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><a href class="tiny" style="color:#F7F4EF" onClick="dontDoThis()">dont click here</a><a href class="tiny" style="color:#F7F4EF" onClick="dontDoThisEither()">or here</a>
    </div>
  </div>
</div>
