<% content_for(:head) do %>
  <title>Scout</title>
  <meta name="Description" content="Learn what wins.  Over 100,000 games of Starcraft 2.">
<% end %>

<script type="text/javascript">
  scout_init();
</script>

<div id="static" ng-controller="ScoutController">
  <div id="scout" class="content">
 
    <div class="filters-wrap">
      <ul class="filters">
        <li class="filter" style="border-right: none;"><span class="name">SCOUT</span></li>
        <li class="filter race" style="border-left: none"><raceselect name="race"/></li>
        <li class="filter vs_race"><raceselect name="vs_race"/></li>
      </ul>
    </div>
 
      <div><span id="winrate">-</span>% matches won.</div>
      <div><span id="active">-</span> of <span id="total">-</span> matches selected.</div>
      <div id="charts">
        <div id="league-chart" class="chart">
          <div class="title">Game League</div>
        </div>
        <div id="as-chart" class="chart">
          <div class="title">Player's Army Strength @ X minutes</div>
        </div>
        <div id="oas-chart" class="chart">
          <div class="title">Opponent's Army Strength @ X minutes</div>
        </div>
        <div id="ws-chart" class="chart">
          <div class="title">Player's Workers @ X minutes</div>
        </div>
        <div id="ows-chart" class="chart">
          <div class="title">Opponent's Workers @ X minutes</div>
        </div>
        <div id="mb2-chart" class="chart">
          <div class="title">Player's 2nd Mining Base Timing</div>
        </div>
        <div id="omb2-chart" class="chart">
          <div class="title">Opponent's 2nd Mining Base Timing</div>
        </div>
        <div id="duration-chart" class="chart">
          <div class="title">Game Length, minutes</div>
        </div>
        <div id="date-chart" class="chart">
          <div class="title">Game Date</div>
        </div>
      </div>
      <div id="lists">
        <table id="match-list" class="list">
          <tbody>
            <tr>
              <th class="num">Match #</th>
              <th class="result">result</th>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
</div>
