<% content_for(:head) do %>
  <title>GGTracker Terms and Conditions of Use</title>
  <meta name="Description" content="GGTracker Terms and Conditions of Use">
<% end %>

<div id="static">
  <div class="content">
    <div class="privacy_inner">
<h1>Terms and Conditions of Use</h1>
      <p>
Hello!  By using the GGTracker site and service, you agree to the following:
<ul>
<li>
	You will not post someone else’s replays, unless they have been released to the public.
</li>
<li>
	When you post replays on GGTracker, you give us permission to:
<ul><li>
	Make them available for anyone to download, and
</li>
<li>
	Show game details from those replays, and
</li>
<li>
	Include your game data in GGTracker statistics shown on GGTracker and elsewhere.
</li>
</ul></li>
<li>	When you give us your Character Code, you give us permission to retrieve your match details from battle.net and:
<ul>
<li>	Show them on GGTracker, and
</li><li>
	Include them in GGTracker statistics shown on GGTracker and elsewhere. 
</ul></li>
<li>	At any time we might change how GGTracker works, be unavailable for an unlimited time, or turn off GGTracker forever.
</li><li>
	Don’t do anything evil with the site, including hacking the site.
</li><li>
	We may deny certain users access to the site for any reason, for example if they’re hacking or abusing the site.
</li>
</ul>
</p>
<p>
The GGTracker site and service are provided by ggtracker, incorporated, a Delaware corporation (“we”, “us”, “our”).  The foregoing and following Terms and Conditions of Use set forth the legally binding terms and conditions for your use of the GGTracker website and services (collectively, “the Site”). 
</p>
<p>
The Site is intended to allow you to upload replays, view game details and player statistics.  The Site may only be used in a manner consistent with this purpose in accordance with these Terms of Use.
</p>
<p>
By using the Site in any manner, including but not limited to visiting or browsing the Site, you (“Buyer”, “user” or “you”) represent that you have read, understand and agree to be bound by this Agreement, including those additional terms and conditions and policies referenced herein and available by hyperlink. We strongly recommend that, as you read these Terms of Use, you also access and read the linked information. We may change these Terms of Use at any time by posting the changes to the Site. Your use of the Site constitutes your agreement to the most recent version of this Agreement. The Privacy Policy applicable to this Site is available <a href="/privacy">here</a>. 
</p>
<h2>Password</h2>
<p>
 You are fully responsible for all activity, liability and damage resulting from your failure to maintain password confidentiality. You agree that we cannot and will not be liable for any loss or damage arising from your failure to keep your password secure and unique.
</p>
<h2>Right to Refuse Service</h2>
<p> we reserve the right to refuse, suspend or terminate service to anyone, for any reason, at any time.
</p>
<h2>
Restricted Activities
</h2>
<p>Your Uploaded Replays and your use of the Site shall not:
<ul>
<li>	Infringe upon any third-party's copyright, patent, trademark, trade secret or other proprietary or intellectual property rights or rights of publicity or privacy;
</li>
<li>	Violate this Agreement, any site policy or community guidelines, or any applicable law, statute, ordinance or regulation;
</li>
<li>	Contain or transmit any code of a destructive nature that may damage, detrimentally interfere with, surreptitiously intercept or expropriate any system, data or personal information;
</li>
<li>	Modify, adapt or hack the Site or modify another website so as to falsely imply that it is associated with us;
</li>
<li>	Appear to create liability for us or cause us to lose (in whole or in part) the services of our ISPs or other suppliers;
</li>
<li>	Link directly or indirectly, reference or contain descriptions of goods or services that are prohibited under this Agreement, the Privacy Policy or other policy documents as posted on the Site.
</li>
</ul>
</p>
<h2>
Intellectual Property
</h2>
<p>
“GGTRACKER” and other graphics, logos, designs, page headers, scripts, and service names are trademarks, trade names and/or trade dress of ggtracker, incorporated. ggtracker, incorporated's trademarks and trade dress may not be used, including as part of trademarks and/or as part of domain names or email addresses, in connection with any product or service in any manner that is likely to cause confusion.  You may not copy, reproduce, modify, create derivative works from, distribute or publicly display any user Content (except for your Content) or other allowed uses as set out in the Site.  Users also may not Reverse engineer, decompile, disassemble or otherwise attempt to discover the source code of the Site or any part thereof, except and only to the extent that such activity is expressly permitted by applicable law notwithstanding this limitation.
</p>
<p>Starcraft II copyright notice: ©2010 Blizzard Entertainment, Inc. All rights reserved. Wings of Liberty is a trademark, and StarCraft and Blizzard Entertainment are trademarks or registered trademarks of Blizzard Entertainment, Inc. in the U.S. and/or other countries.
</p>
<h2>
Breach
</h2>
<p>Without limiting any other remedies, we may, without notice, and without refunding any fees or charges, remove Content, warn our community of a user's actions, issue a warning to a user, temporarily suspend a user, temporarily or indefinitely suspend a user's account privileges, terminate a user's account, prohibit access to the Site, and take technical and legal steps to keep a user off the Site and refuse to provide services to a user if any of the following apply:</p>
<p>We suspect or know (by information, investigation, conviction, settlement, insurance or escrow investigation, or otherwise) a user has breached this Agreement, the Privacy Policy or other policy documents and community guidelines incorporated herein; we are unable to verify or authenticate any of your personal information or Content; or we believe that a user is acting inconsistently with the letter or spirit of our policies, has engaged in improper or fraudulent activity in connection with us or the actions may cause legal liability or financial loss to our users or to us.</p>
<h2>Privacy</h2>
<p>Our Privacy Policy, as amended from time to time, is incorporated into this Agreement by reference, and is fully applicable to all user data and information.</p>
<h2>No Warranty</h2>
<p>GGTRACKER, INCORPORATED PROVIDES THE SITE AND SERVICES “AS IS” AND WITHOUT ANY WARRANTY OR CONDITION, EXPRESS, IMPLIED OR STATUTORY, INCLUDING BUT NOT LIMITED TO, UNLIMITED AND UNINTERRUPTED ACCESS TO SITE. GGTRACKER, INCORPORATED SPECIFICALLY DISCLAIM ANY IMPLIED WARRANTIES OF TITLE, MERCHANTABILITY, PERFORMANCE, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT. IN ADDITION, NO ADVICE OR INFORMATION (ORAL OR WRITTEN) OBTAINED BY YOU FROM GGTRACKER, INCORPORATED  SHALL CREATE ANY WARRANTY. </p>
<h2>Liability Limit</h2>
<p>IN NO EVENT SHALL GGTRACKER, INCORPORATED BE LIABLE FOR ANY DAMAGES WHATSOEVER, WHETHER DIRECT, INDIRECT, GENERAL, SPECIAL, COMPENSATORY, CONSEQUENTIAL, AND/OR INCIDENTAL, ARISING OUT OF OR RELATING TO YOUR CONDUCT OR THE CONDUCT OF ANYONE ELSE IN CONNECTION WITH THE USE OF THE SITE, GGTRACKER INCORPORATED'S SERVICES, OR THIS AGREEMENT, INCLUDING WITHOUT LIMITATION, LOST PROFITS, BODILY INJURY, EMOTIONAL DISTRESS, OR ANY SPECIAL, INCIDENTAL OR CONSEQUENTIAL DAMAGES.</p>
<p>GGTRACKER, INCORPORATED'S LIABILITY TO YOU OR ANY THIRD PARTIES IN ANY CIRCUMSTANCE IS LIMITED TO THE AMOUNT OF FEES GGTRACKER, INCORPORATED EARNS FROM YOUR PURCHASE OF SERVICES IN THE SIX (6) MONTHS PRIOR TO THE ACTION OR CLAIM GIVING RISE TO LIABILITY OR $100.</p>
<h2>Indemnity</h2>
<p>User shall indemnify, defend and hold us harmless from and against any and all liabilities, obligations, losses, damages, penalties, claims, actions, suits, costs and expenses (including attorney’s fees) imposed on, or incurred or sustained by or asserted against us by any person or persons whatsoever, based upon your breach of this Agreement or any purchase of our services.  No limitation of liability of User contained in any other writing shall be binding on or effective against us.</p>
<h2>No Guarantees</h2>
<p>We do not guarantee continuous, uninterrupted access to the Site, and operation of the Site may be interfered with by numerous factors outside our control. The Site will also undergo periodic scheduled and unscheduled maintenance.  We assume no liability for business interruption or lost sales in the event User is not able to access the Site, or the operation of the Site is interrupted for any reason.</p>
<h2>Legal Compliance</h2>
<p>You will comply with all applicable domestic and international laws, statutes, ordinances and regulations regarding your use of the Site and any related service.  </p>
<h2>Severability</h2>
<p>The invalidity or unenforceability of any portion or provision of these Terms of Use shall in no way affect the validity or enforceability of any other portion or provision of the Agreement.  Any invalid or unenforceable portion or provision shall be deemed severed from the Agreement and the remainder of the Agreement shall be construed and enforced as if the Agreement did not contain such invalid or unenforceable portion or provision.</p>
<h2>No Agency</h2>
<p>No agency, partnership, joint venture, employee-employer or franchiser-franchisee relationship between you and ggtracker, incorporated is intended or created by this Agreement.</p>
<h2>Termination, Alteration</h2>
<p>We reserve the right to modify or terminate the Site and Service for any reason, without notice, at any time. We reserve the right to alter these Terms of Use or other Site policies at any time. If we make a material change, we will notify you by means of a notice on our home page, or other places we deem appropriate. What constitutes a “material change” will be determined at our sole discretion, in good faith.</p>
<h2>Governing Law</h2>
<p>This Agreement shall be interpreted and governed by the law of the State of New York without regard to its conflict of laws principles. User expressly acknowledges and agrees that any claim brought in connection with this Agreement or the subject matter herein shall only be brought in a federal or state court located in the Count of New York in the State of New York, and you expressly waive all objections you might have to jurisdiction, venue, service of process, forum non conveniens or the like in connection therewith.</p>
<h2>Survival</h2>
<p>The following sections shall survive any termination or expiration of this Agreement and any termination, suspension, expiration or cancelation of your account with us:  Password, Right to Refuse Service, Restricted Activities, Intellectual Property, Breach, Privacy, No Warranty, Liability Limit, Indemnity, No Guarantees, Legal Compliance, Severability, No Agency, and Governing Law.</p>
<h2>Notices</h2>
<p>Except as expressly stated in this Agreement, any notices you send to ggtracker, incorporated shall be given by e-mail to dsjoerg@ggtracker.com, or by postal mail to 537 2nd Street, Brooklyn NY 11215.  You agree to accept notices sent to you at the email address you provided to us during the registration process, or as you may update it from time to time. Notice shall be deemed given 24 hours after email is sent, unless the sending party is notified that the email address is invalid. Notice sent by postal mail shall be deemed given three (3) days after the date of mailing.</p>
<h2>Controlling Terms</h2>
<p>This Agreement and those additional terms and conditions and policies referenced herein represent the complete agreement and understanding with respect to the subject matter of this Agreement.  Different or additional terms or conditions in any prior or subsequent communication (whether by email or any other form of communication) shall not add to, modify, or otherwise change the terms and conditions of this Agreement.</p>
<p></p>
<p></p>

<p>
Last modified: February 5, 2013.
</p>
    </div>
  </div>
</div>
