<% content_for(:head) do %>
  <title>GGTracker</title>
  <meta name="Description" content="Track your Starcraft 2 stats so you can get better faster. Spending Skill, race-specific macro, army composition and more.">
<% end %>

<div id="tour">
  <div class="content">
<br>
<h1>Get better faster.</h1>
<br><br>
<div class="boxy">
<p class="explitext">Review better. <b>Instantly</b> see army units, location and strength at any point in the game.</p>
<p style="text-align: center"><a href="matches/970266"><%= image_tag "army.png" %></a></p>
</div>
<div class="boxy">
<p class="explitext">Improve better.  Measure your win rate, APM, Spending Skill, and more.</p>
<p style="text-align: center"><a href="players/75170#?game_type=1v1&category=Ladder&page=1"><%= image_tag "profile.png" %></a></p>
</div>
<br><br><br>
<p style="text-align: center"><span style="font-size:125%">Try it for yourself:</span>
        <span class="button-upload">
          <input type="file" name="differentname" multiple/>
          <span class="caption">
            <span class="icon icon-upload-white-32"></span> Upload your replays
          </span>
        </span>
</p>
<br><br><br>
  </div>
</div>
