<% content_for(:head) do %>
  <title>You Are Pro!</title>
  <meta name="Description" content="Welcome to GGTracker Pro.">
<% end %>

<div id="go_pro">
  <div class="content">
    <div class="going_pro">
      <p><b>Welcome to GGTracker Pro!</b></p>
      <br>
      <br>
      <br>
      <p>Your auto-uploader download and instructions can always be found<br>on the <a href="settings">Settings Page</a>.</p>
      <br>
      <br>
      <p>If you have any suggestions or comments for GGTracker, please <a href="mailto:dsjoerg@ggtracker.com">let me know</a>!</p>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <p>Best regards,</p>
      <br>
      <br>
      <p>--David Joerg</p>
      <p>Founder, GGTracker</p>
    </div>
  </div>
</div>
