defaults: &defaults
  smtp_user_name: you@example.com
  smtp_password: 1337
  paypal:
    login: you.yoursite.com
    password: 12345
    signature: a-b-c
  devise_secret_key: aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
  devise_pepper: bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb
  esdb:
    host: 127.0.0.1:9292
    api_key: development
  secret_token: cccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccc
  partner_uploaders: [none]
  wcs_cobrand: wcs

development:
  <<: *defaults

test:
  <<: *defaults
