// Debugging stylesheet for convenience.
// IMPORTANT: this stylesheet should not be included in production.

@mixin debug-highlight {
  @include box-shadow(0 0 10px rgba(0,0,0,0.4));
}

// small debug widget, can trigger it being rendered on a matches/show by
// passing the debug param for example.

.debug {
  @include debug-highlight;
  position: fixed;
  top: 0px;
  left: 50%;
  padding: 15px;
  background: red;
}