#charts {
  padding: 10px 0;
}

.djchart {
  display: inline-block;
  height: 151px;
  margin-bottom: 20px;
  .title {
    margin-bottom: 0px;
    max-width: 175px;
  }
  .highcharts-container, .highcharts-container svg {
    overflow: visible !important;
  }
}

.reset {
  padding-left: 2em;
  font-size: smaller;
  text-decoration: none !important;
}

.background.bar {
  fill: #ccc;
}

.foreground.bar {
  fill: steelblue;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  font: 10px sans-serif;
}

.brush rect.extent {
  fill: steelblue;
  fill-opacity: .125;
}

.brush .resize path {
  fill: #eee;
  stroke: #666;
}

#league-chart {
  width: 260px;
}

#duration-chart {
  width: 260px;
}

#date-chart {
  width: 520px;
}

#as-chart {
  width: 260px;
}

#oas-chart {
  width: 260px;
}

table#match-list, table#player-list, table#group-list, table#groupsub-list {
  @extend table.default;
//  min-height: 1024px;
  font-size: 80%;
}

#match-list .match,.player {
  line-height: 1.5em;
  background: #eee;
//  width: 640px;
  margin-bottom: 1px;
}

#group-list .group {
  line-height: 1.5em;
  background: #eee;
  margin-bottom: 1px;
}

#groupsub-list .match {
  line-height: 1.5em;
  background: #eee;
  margin-bottom: 1px;
}

table#match-list, table#player-list, table#group-list, table#groupsub-list {
  table-layout: fixed;

  tbody {
    width: 401px;

    th, td {
      padding: 0px 0px;
      &.result {
        text-align: center;
      }
    }

    th.num {
       width: 125px;
    }
    
    th.num_unit {
        width: 40px;
    }
  }
}


  #scout {
    div.filters-wrap {
      ul { 
          li {
            span.name {
              font-size: 20px;
              vertical-align: middle;
            }
          }
        }
    }
  }
  
