<!--

 _ ____.(   ___.(   ____ _  ______   ).___  ___.(   __  __. _____.(_______ _
   / ____)_/ ____)_/   (_  /      \_(___  \/   __)_/  \/ (_/   ____)      \
  /  \_   /  \_   /  .__/_/  _%___/   /   /   /   /   /___)   __/_/  _%___/
 /   /   /   /   /   /   /   /  \/   /   /   /   /   /  \/   /   /   /  \
_\%_____/\%_____/\%_____/\%_/   /\%___fx/\%_____/\__/   /\%_____/\__/   /.com_
    killing esports since  ).__/ 2012.             ).__/           ).__/

-->
<!DOCTYPE html>
<html ng-app="gg">
<head>
  <title>Something went wrong.</title>
  <%= favicon_link_tag %>
  <%= stylesheet_link_tag "gg", :media => "all" %>
</head>
<body>
  <div id="error">
    <br><br>
    <h1 class="extrabold">Uh oh.</h1>
  <br><br>
  <br><br>
    <p>Something has gone wrong.  Badly wrong.</p>
  <br><br><br><br><br><br>
  <br><br><br><br><br><br>
  <br><br><br><br><br><br>
  <p class="light" style="float:right">(500)</p>
  </div>
</body>
</html>
